<div class="moveRight">
	<h1>Fast Track</h1>
	<span class="option highlighted" data-file-name="tree.txt">Tree 1</span>
	<span class="option" data-file-name="tree2.txt">Tree 2</span>
	<span class="option" data-file-name="tree3.txt">Tree 3</span>
</div>
<div class="total-holder">
    Sum: <span id="total"> </span>
</div>
<div id="show_pony">

</div>
