development:
  adapter: postgresql
  encoding: unicode
  database: myapp_development
  pool: 5
  username: 
  password:
test:
  adapter: postgresql
  encoding: unicode
  database: myapp_test
  pool: 5
  username: 
  password:
production:
  adapter: postgresql
  encoding: unicode
  host: ec2-184-72-238-68.compute-1.amazonaws.com
  port: 5432
  database: d52ma5v42k1vd1
  pool: 5
  username: 
  password: Hide xzQ_iUpzO_yBsPRTbPSzXNHP0-